<div class="col-12">
    <div *ngIf=" !identity || identity == null">
        Debes inciar sesión para acceder a las funcionalidades de la aplicación.
</div>


<form class='col-12' role='search' *ngIf=" identity && identity.sub">
    <div class="form-group col-6">
        <label>Mostrar solo</label>
        <select class="form-control" name="filter" [(ngModel)]="filter">
            <option value="0" selected="selected">Sin filtro</option>
            <option value="1" >Nueva</option>
            <option value="2" >Por hacer</option>
            <option value="3" >Terminadas</option>
        </select>
    </div>
    <div class="form-group col-6">
        <label>Ordenar por</label>
        <select class="form-control" name="order" [(ngModel)]="order">
            <option value="0" selected="selected">Defecto</option>
            <option value="1" >Fecha Ascendete</option>
            <option value="2" >Fecha Descendete</option>
        </select>
    </div>

    <div class="clearfix"></div>

    <div class="form-group col-10">
        <input type="text" class="form-control" placeholder="Nombre de la Tarea ??" name="searchString" [(ngModel)]="searchString"/>
    </div> 
    <div class="col-2">
        <button type="submit" class="btn btn-default" (click)="search();">
            <span class="glyphicon glyphicon-search" aria-hiden="true"> Buscar</span>
        </button>
    </div>
</form>
<div class="col-12" *ngIf=" identity && identity.sub">
     <!--Mostrar Buscador-->
     <div class="alert alert-danger" *ngIf=" loading =='hidden' && (!tasks || tasks.length== 0)">
        No se han encontrado tareas!!
        Para crear una  <a [routerLink]="['/task-new']">click aqui</a>

    </div>
    <div class="all-task">

        <div class="loader" *ngIf="loading == 'show'">
            <img src='/assets/img/loader.gif'>
        </div> 

        <table class="table table-hover table-striped" id="tasks-list"
               *ngIf="tasks && tasks.length >= 1">
            <tr>
                <th>Estado</th>
                <th>Titulo</th>
                <th>Accion</th>
            </tr>
            <tr *ngFor="let task of tasks" class="task-item">
                <td>
                    <div class='alert alert-success' *ngIf="task.status == 'new'">Nueva</div>
                    <div class='alert alert-warning' *ngIf="task.status == 'todo'">Por hacer</div>
                    <div class='alert alert-danger' *ngIf="task.status == 'finished'">Terminada</div>
                </td>
                <td> <a [routerLink]="['/task/'+ task.id]">{{task.title}}</a> </td>
                
                <td><a [routerLink]="['/task-edit/',task.id]" class="btn btn-warning">Editar</a></td>
            </tr>
        </table>

        <ul class="pagination" *ngIf="pages != 1 && !searchString && !filter && !order">
            <li>
                <a [routerLink]="['/index', pagePrev]" aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a>                     
            </li>
            <li *ngFor="let page of pages" >
                <a [routerLink]="['/index', page+1]">{{page+1}}</a>
            </li>
            <li>
                <a [routerLink]="['/index', pageNext]" aria-label="Siguiente"><span aria-hidden="true">&raquo;</span></a>                     
            </li>
        </ul>

    </div>


</div>
</div>

