<div class="col-12">
    <h3>{{ title }}</h3> 

    <div class=" alert alert-success" *ngIf="identity && identity.sub">
        !Logueo Existoso ! {{identity.email}}
    </div>
    <div class=" alert alert-danger" *ngIf="identity && identity.data">
        ¡ Usuario o Contraseña incorrectos!
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
        <p>
            <label>Email:</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required autocomplete="email">
            <span *ngIf="!email.valid && email.touched">El Email no es valido</span>
        </p>
        <p>
            <label>Conraseña:</label>
            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required autocomplete="password">
            
        </p>
        <input type="submit" class="btn btn-primary" value="Entrar" [disabled]="!loginForm.form.valid">
    </form>
</div>