<div class="col-12">
    <h3> {{ title }} </h3>

    <div class="alert success alert-success" *ngIf="status == 'succes'">
        Te has registrado corectamente, ingresa pulsando <a [routerLink]="['/login']">aquí</a>.
    </div>
    <div class="alert success alert-danger" *ngIf="status == 'error'">
        Algo ha salido muy mal, intentalo de nuevo o comunicate con el administrador.
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit();registerForm.reset();" class="col-7 no-padding">
        <p>
            <label>Nombre</label>
            <input class="form-control" required name="name" type="text"
                   #name="ngModel" [(ngModel)]="_user.name"  autocomplete="name">
            <span class="error" *ngIf="!name.valid && name.touched">El nombre no es valido</span>
        </p>

        <p>
            <label >Apellido</label>
            <input class="form-control" required name="surname" type="text"
                   #surname="ngModel" [(ngModel)]="_user.surname"  autocomplete="surname">
            <span class="error" *ngIf="!surname.valid && surname.touched">Apellidos no validos</span>
        </p>

        <p>
            <label>Mail</label>
            <input class="form-control" required name="email" type="email" #email="ngModel"
                   [(ngModel)]="_user.email"  autocomplete="email">
            <span class="error" *ngIf="!email.valid && email.touched">El correo no es valido</span>
        </p>

        <p>
            <label>Password</label>
            <input class="form-control" required name="password" type="password"
                   #password="ngModel" [(ngModel)]="_user.password"  autocomplete="password">
            <span class="error" *ngIf="!password.valid && password.touched">Password no valido</span>
        </p>

        <input type="submit" value="Registrarse" class="btn btn-success" [disabled]="!registerForm.form.valid">
    </form>
</div>