<div class='col-md-12'>
        <div class="loader" *ngIf="loading == 'show'">
        <img src='/assets/img/loader.gif'>
    </div> 
 <div class="col-md-12" *ngIf="task">
    <h3>{{title_page}}</h3>

    <form  #taskEditForm='ngForm' (ngSubmit)='onSubmit()' class='col-md-7'>

        <p>
            <label>Titulo</label>
            <input type='text' class='form-control'  required='required' name='title' #title="ngModel" [(ngModel)]="task.title"  />
        </p>
        <p>
            <label>Descripción</label>
            <textarea class='form-control'  name='description' #description="ngModel" [(ngModel)]="task.description"></textarea>
        </p>
        <p>
            <label>Estatus</label>
            <select class='form-control' name='status' #status="ngModel" [(ngModel)]="task.status" >
                <option value='new'>nueva</option>
                <option value='todo'>Por hacer</option>
                <option value='finished'>Terminada</option>
            </select>
        </p>

        <input type='submit' value='{{title_page}}' class='btn btn-warning'>
    </form>
 </div>
</div>