<div class="col-md-12">
<h3>{{title_page}}</h3>
    <div class="success alert-success" *ngIf="status == 'success'">
        Se ha registrado la tarea por hacer.
    </div>
    <div class="success alert-danger" *ngIf="status == 'error'">
        Algo ha salido muy mal, intentalo de nuevo o comunicate con el administrador.
    </div>  
<form  #taskNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
    
    <p>
        <label>Titulo</label>
        <input type="text" class="form-control" name="title" required 
               #title="ngModel" [(ngModel)]="task.title" />
    </p>
    <p>
        <label>Descripción</label>
        <textarea class="form-control" name="descripcion" 
                  #title="ngModel" [(ngModel)]="task.description" required></textarea>
    </p>
    <input type="submit" value="{{title_page}}" class="btn btn-warning">
</form>

</div>